     <div id="creditcontainer" align="center">
          <button type="button" class="btn btn-info" onclick="viewBalance();">Balance</button>
          <button type="button" class="btn btn-info" onclick="loadBuyCredits();">Buy Credits</button>  
          
  
		
		<div id="viewbalance">
                   <div id="list-title"><h3>View Balance</h3></div> 
                   <!--<div id="viewbalancecontent" style="height:300px;width:330px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">-->
                      <div id="viewbalancecontent" style="height:300px;width:330px;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
                       
                   <!--<div id="rcorners_acc_balance" align="center" valign="center">-->
                       

                   <!--    <table>
                              <tr>
                                      <td>Bundle Name:</td><td>Yotte Bigi</td>  </tr>
                             <tr>
                                  <td>Bundle Type:</td><td>SMS</td>  </tr>-->

 
                   <!--          
                                <tr>    <td>Balance:</td> <td>&nbsp;</td>   </tr>
                                   <tr> <td>Expiry: </td> <td>&nbsp;</td>
                                </tr>-->

                 <!--      </table>-->
                      



               <!--      </div>-->
                 </div><!--end of scrollbar-->

		</div>
            <!--End of div for layer 1-->

		
         
    <div id="buycredits" hidden>
<div id="list-title"><h3>Buy Credits</h3></div> 

<div id="buycreditcontainer" class="rcorners_recharge_account">
   <table id="buycreditform" class="table-forms" width="95%" height="95%"> 
       <tr><td>Bundle Name: </td>
           <td><select name="bundlename" id="bundle_options"></select></td>
      </tr>
      <tr><td>Description:</td><td id="bundle_descr" style="color:black;">&nbsp;</td>
      </tr>
      <tr><td>Number of SMS:</td><td id="bundle_no_sms" style="color:black;">&nbsp;</td>
      </tr>

      <tr><td>Valid for:</td><td id="bundle_days" style="color:black;align:center">&nbsp;</td>
      </tr>

      <tr><td>Price:</td><td id="bundle_price" style="color:black;">&nbsp;</td>
      </tr>
      <tr><td colspan="2" align="center"><button type="button" class="btn btn-info" id="buystep1">Pay</button></td>
      
      </tr>
      

   </table>


</div>   

