     <div id="campaigncontainer" align="center">
          <button type="button" class="btn btn-info" id="createcampaignbtn" onclick="createNewCampaign('reset');">Create Campaigns</button>
          <button type="button" class="btn btn-info" id="viewcampaignsbtn" onclick="showExistingCampaigns();" disabled>Manage Campaigns</button>  
      <div style="height:600px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">


		<div id="createcampaign" hidden>
 <hr style="color:green;border-color:green;background-color:green;"></hr> 
              			<div><h3 id="savingcampaignheader">Update Campaigns</h3></div> 
                    <form id="campaignForm">
              			<table id="add-campaign-form" border=1 class="table-forms"> 
              			<tr> 
              			<td>Campaign Name:<br>(Max (50 chars)<br><div id="cnamelabel1" style="color:black;">50 remaining</div></td><td style="color:black; font-size: 12px"><input type="text" name="campaignname" id="campaign_name" maxlength="50" onkeyup="countRemaining('50','#campaign_name','#cnamelabel1');"/><input id="hiddencampaignid" type="hidden"/></td> 
              			</tr> 
              			<tr> 
              			<td>Campaign Description:<br>(Max:200 chars)<br><div id="cdescrlabel1" style="color:black;">200 remaining</div></td><td style="color:black; font-size: 12px"><textarea name="campaign_descr" id="campaign_descr" rows="5" cols="32" maxlength="200" onkeyup="countRemaining('200','#campaign_descr','#cdescrlabel1');"></textarea></td> 
              			</tr>

                    <tr>
                            <td>Delivery Medium</td>
                            <td style="color:black; font-size: 12px">
                               <select id="deliverymedium" name="deliverymedium" onchange="hideShowCampaignTargets();">
                                  <option id='deliverymedium1' value="SMS">SMS</option>
                                  <option id='deliverymedium2' value="Whatsapp">Whatsapp</option>
                                  <option id='deliverymedium3' value="Email">Email</option>
                               </select> 
                            </td>
                       </tr>


                    <tr >
                            <td>Target Group </br>(You can select more than one)</td>
                            <td style="color:black; font-size: 12px">

                              
                               <select name="campaigntargetsms" id="campaigntargetsms" multiple>
                                  <option id="campaigntargetallsms" value="0">All</option>
                                  <!--<option class="campaigngroupssms" value="1">Drivers</option>
                                  <option class="campaigngroupssms" value="2">Customers in Ilala</option>-->
                               </select> 
                                <input type="hidden" value=0 name="numOfGroups" id="numOfGroups">

                               <select name="campaigntargetwhatsapp" id="campaigntargetwhatsapp" multiple hidden>
                                  <option id="campaigntargetallwhatsapp" value="0">All</option>
                                  <option class="campaigngroupsswhatsapp" value="1">Drivers</option>
                                  <option class="campaigngroupswhatsapp" value="2">Customers in Ilala</option>
                               </select> 
                               
                            </td>
                       </tr>






                    <tr>
                            <td>Campaign Category</td>
                            <td style="color:black; font-size: 12px">
                               <select name="campaigncategory" id="campaigncategory" >
                                  <option value="IR">Individualized Reminders</option>
                                  <option value="GR">General Reminders</option>
                                  <option value="BW">Birthday Wishes</option>
                                  <option value="HG">Holiday Greetings</option>
                                  <option value="HO">Holiday Offers</option>
                                  <option value="GM">General Marketing</option>
                               </select> 
                            </td>
                       </tr>
                      <!--file for individualized reminders-->


                                                            <tr class="remindertemplates">

                                      <td colspan="2" align="center">Download template for preparing individual reminders<br><button style="font-size:24px;cursor:pointer" onclick="downloadReminderTemplate();"> <i class="fa fa-download" style="font-size:48px;color:GREEN"></i></button><br><br></td></tr>
                                      <tr class="remindertemplates">
                                       
                                          <td colspan="2" align="center">
                                                   Once template updated, upload it.
                                               <br>
                                                    <table>
                                                       <tr>

                                                       <td align="center">
                                                       
                                                        <form enctype="multipart/form-data" id="remindersuploadfileform">
                                                   
                                                        <span class="btn btn-primary fileinput-button">


                                     
                                        <i class="fa fa-fw fa-folder-o"></i>
                                        <span>Select file...</span>
                                       <input name="reminderfile" type="file" id="reminderfile" />
                                    </span>
                                    <div id="addfilename">
                                      <b>File</b>: No File
                                    </div>
                                    </form>
                                                     
                                                     <!--<div role="button" class="btn btn-primary mr-2">-->
 

                                                     <!--
                                                <form enctype="multipart/form-data" id="addressuploadfileform">
                                    <input name="addressfile" type="file" id="addressfile" />
                                  
                                </form>-->
                                                    
                                               </td>
                                               </tr>
                                               <tr>
                                               <td align="center">

                                              <button style="font-size:24px; cursor:pointer" id="uploadaddressbtn"><i class="fa fa-upload" style="font-size:48px;color:orange"></i></button></td>
                                              </tr>

                                              </table>
                                              <br>

                                      </td>
                                  </tr>





                      <!--end of file for indivudakuzed reminders-->
                       <tr>
                            <td>Start Date</td>
                            <td style="color:black; font-size: 12px">
                               <input type="text" id="campaignstartdate" name="campaignstartdate" class="dates" onkeydown="return false">
                               <input type="hidden" id="campaignstartdateextra" name="campaignstartdateextra" value="">
                               <!--This hidden input type is used to store the date as it is picked, while the text type keeps the modified value presented in the user friendly format-->
                            </td>

                      </tr>

                      <tr>
                         <td>
                          Run until:
                         </td>
                         <td style="color:black; font-size: 12px">
                             <input type="radio" name="lifeofcampaign" value=1 onclick="showHideCampaignEnd(0);" checked>Run Indefinately<br>
                              <input type="radio" name="lifeofcampaign" value=0 onclick="showHideCampaignEnd(1);">End Date: <input type="text" id="campaignenddate" name="campaignenddate" class="dates" onkeydown="return false" hidden>
                              <input type="hidden" id="campaignenddateextra" name="campaignenddateextra" value="">
                         </td>

                    </tr>

                       <tr>
                            <td>Campaign Days</td>
                            <td style="color:black; font-size: 12px">
                               <select name="daysintervals" id="daysintervals" onchange="checkDaySelected();">
                                  <option value="1">Daily</option>
                                  <option value="2">Weekdays</option>
                                  <option value="3">Weekends</option>
                                  <option value="4">Specific Days</option>
                               </select> 
                               <div id="campaignselectivedays" name="campaignselectivedays" hidden>
                               <table border=0>
                               <tr>
                                <td><input type=checkbox value=1 name="campaigndayofweek_1" checked><b>Mon</b>&nbsp;&nbsp;</td>
                                <td><input type=checkbox value=2 name="campaigndayofweek_2"><b>Tue</b>&nbsp;&nbsp;</td>
                                <td><input type=checkbox value=3 name="campaigndayofweek_3"><b>Wed</b>&nbsp;&nbsp;</td>
                                <td><input type=checkbox value=4 name="campaigndayofweek_4"><b>Thur</b>&nbsp;&nbsp;</td>
                               </tr>
                               <tr>
                                <td><input type=checkbox value=5 name="campaigndayofweek_5"><b>Frid</b>&nbsp;&nbsp;</td>
                                <td><input type=checkbox value=6 name="campaigndayofweek_6"><b>Sat</b>&nbsp;&nbsp;</td>
                                <td><input type=checkbox value=0 name="campaigndayofweek_0"><b>Sun</b>&nbsp;&nbsp;</td>
                               </tr>
                               </table>

                               </div>
                            </td>

                    </tr>
                      <tr>
                            <td>Frequency of running </br>per day</td>
                            <td>
                               <select id="frequencyofrunningselected" name="frequencyofrunningselected" onchange="checkCampaignFrequency();">
                                  <option value=1 selected>Once per day</option>
                                  <option value=2>Twice per day</option>
                                  <option value=3>Three times per day</option>
                                  <option value=4>Four times per day</option>
                                  <option value=5>Five times per day</option>
                                  <option value=6>Other</option>
                               </select>
                               <div id="userdefinedfrequency" hidden>
                                  <input type="text" id="userdefinedfrequency_box" name="userdefinedfrequency_box" maxlength="2" onkeyup="checkCampaignFrequency();" onkeypress="return isNumberKey(event);">
                               </div> 
                            </td>

                    </tr>

                    <tr id="timeofrunningrow">
                            <td>Time of the day of running</td>
                            <td id="timeofrunning">
                                  
                            </td>

                    </tr>



                        <tr>
                                   <td style="border:1;" colspan="2" align="center">
                                       <b>Define Campaign Messages</b><br/>
                                      <a href="#" class="btn btn-info btn-lg" style="font-size:15px;color:white;background-color:5bc0de;" onclick="addMessageBox();">
                                          <span class="glyphicon glyphicon-plus-sign"></span>Message<br/>
                                          <input type="hidden" value=0 name="numOfAppendedMessages" id="numOfAppendedMessages">
                                          <!--<i class="fa fa-plus" style="font-size:48px;color:red"></i>-->
                                      </a> 
                                       <div id="camp_msg_grp"></div> 
                                       <div id="del_msg_boxes" hidden>
                                        <a href="#" class="btn btn-default" onclick="removeMsgBoxes();">
                                         <i class="fa fa-trash" style="font-size:24px;color:orangered;"></i> Clear All

                                        </a>

                                         <!--removeMsgBoxes();-->

                                      </div>        
                                   </td>
                          </tr> 
              			<tr> 
              			                 <td colspan=2 align="center"> 
                                      <a href="#" class="btn btn-info btn-lg" style="font-size:15px;color:white;background-color:5bc0de;"onclick="saveCampaign('-1','SAVECAMPAIGN','1');">
                                      <span class="glyphicon glyphicon-ok"></span> Save 
                                      </a>               
                                           <a href="#" class="btn btn-info btn-lg" style="font-size:15px;color:white;background-color:5bc0de;">
                                      <span class="glyphicon glyphicon-remove"></span> Cancel 
                                      </a>  
              		
              			
              			</td> 
              			</tr> 

              			</table> 

                    </form>
		</div>
            <!--End of div for layer 1-->

		
<div id="managecampaigns">
<div id="list-title"><h3>Existing Campaigns</h3></div>    
 <hr style="color:green;border-color:green;background-color:green;"></hr> 
  <table class="table table-striped table-bordered table-hover">
    <thead>
      <tr>

        <th>Status</th>
        <th>Campaign Name</th>
        <th>Campaign Description</th>
        <th>Date Created</th>
        <th>Number of </br>template </br>messages</th>
        <th>Action</th>

      </tr>
    </thead>
    <tr><td style="border: none;">&nbsp</td><td style="border: none;"> <input class="form-control" id="searchablecampaigntable"  type="text" placeholder="Search.." onkeyup="searchCampaignTable();" size="20"></td><td style="border: none;" colspan=4>&nbsp</td></tr>
    <tbody id="campaigns">

    </tbody>
  </table>
</div>
</div>
 <div>

