     <div id="groupcontainer" align="center">
           <button type="button" class="btn btn-info" id="viewbygroup">View by Group</button>  
           <button type="button" class="btn btn-info" id="viewbycampaign">View by Campaign</button>  
           <button type="button" class="btn btn-info" id="viewbycampaigncategory">View by Campaign Categories</button>  

        <div style="height:600px;border:solid 2px orange;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">
       <h2>Sent Messages Dashboard </h2>
	  <table border=0 width="100%">
		   <tr class="progressboxchart_tr"><td class="progressboxchart" align="center" colspan=6 hidden>
		      <div class="nothing" id="myprogressbar_chart">&nbsp;</div>
		      <div>Loading....</div>
		     </td>
	    </tr>
	  </table>
          <div id="chartContainer" style="height: 370px; max-width: 920px; margin: 0px auto;"></div>
		
     
        </div>
 <div>

