{% extends 'base.html' %}
 {% block content %}

     <p>Your username is <b><i>{{user}}</i> (<a href="#" onclick="closeProfile(this);">Logout</a>)</b>.  You have to complete phase 2 of registration before starting to use the system</p>
     
     <div id="campaigncontainer" align="center">
          
      <div style="height:600px;border:solid 2px red;overflow:scroll;overflow-x:hidden;overflow-y:scroll;">


		<div id="createcompanyprofile" >
 
              			<div><h3 id="savingcompanyheader">Create Company Profile</h3></div> 
                    <div id="companyForm">
              			<table id="add-company-form" border=1 class="table-forms"> 
              			<tr> 
              			<td>Company Name:</td><td> <input type="text" name="companyname" id="company_name" maxlength="50" /><input id="companyid" name="hiddencompanyid" type="hidden"/></td> 
              			</tr> 
              			<tr> 
              			<td>Business Description:</td><td style="color:black; font-size: 12px"><textarea name="businessdescr" id="business_descr" rows="5" cols="32" maxlength="500"></textarea></td> 
              			</tr>

              			<tr> 
              			<td>Postal Box:</td><td style="color:black; font-size: 12px"><input type="text" name="companyaddress" id="postal_address" maxlength="50" /></td> 
              			</tr> 

              			<tr>

              			 <td>Street:</td><td style="color:black; font-size: 12px"><input type="text" name="street" id="street_name" maxlength="50" /></td> 
              			</tr> 

              			<tr>

              			 <td>Ward:</td><td style="color:black; font-size: 12px"><input type="text" name="ward" id="ward_name" maxlength="50" /></td> 
              			</tr> 

              			<tr>

              			 <td>District:</td><td style="color:black; font-size: 12px"><input type="text" name="district" id="district_name" maxlength="50" /></td> 
              			</tr> 

              			<tr>

              			 <td>Region:</td><td style="color:black; font-size: 12px"><input type="text" name="region" id="region_name" maxlength="50" /></td> 
              			</tr>


              			<tr>

              			 <td>Mobile:</td><td style="color:black; font-size: 12px"><input type="text" name="mobile" id="mobile_number" maxlength="50" /></td> 
              			</tr>

              			<tr>

              			 <td>Email:</td><td style="color:black; font-size: 12px"><input type="text" name="email" id="email_address" maxlength="50" /></td> 
              			</tr>  


              			<tr>

 
              			<tr> 
              			      <td colspan=2 align="center"> 

                                      <input type="button" value="Save" onclick="saveCompanyDetails();">
                                 
              		
              			
              			</td> 
              			</tr> 

              			</table> 

                    </div><!--for campaign form-->
                   </div>
		</div>
            <!--End of div for layer 1-->

 <div>
{% endblock %}
