                       <div>
                           <a href="#">
                              <table border=0>
                    
                                    <tr>
                                       <td><img src="{% static "bulkysms/images/groups.png" %}" alt="" width="40" height="50" class="menuimage" style="cursor:pointer" value="Grouping"/></td><td valign="center" class="menuimage" style="cursor:pointer" value="Grouping">Groups for</br> Bulky SMS</td>

                                  
                                    </tr>
                                </table>
                              </a>

                              <a href="#">
                              <table border=0>
                                    <tr>
                                       <td><img src="{% static "bulkysms/images/campaign.png" %}" alt="" width="40" height="50" class="menuimage" style="cursor:pointer" value="Campaign"/></td><td valign="center" class="menuimage" style="cursor:pointer" value="Campaign">Campaigns</td>
                                    </tr>
                                </table>
                              </a>

                              <a href="#">
                                 <table border=0>
                                    <tr>
                                       <td><img src="{% static "bulkysms/images/scheduler.png" %}" alt="" width="40" height="50" class="menuimage" style="cursor:pointer" value="Scheduler"/></td><td valign="center" class="menuimage" style="cursor:pointer" value="Scheduler">Scheduling</td>
                                       
                                    </tr>  
                                </table>
                              </a>
                              <a href="#">
                                 <table border=0>
                                        <tr>
                                        <td><img src="{% static "bulkysms/images/settings.png" %}" alt="" width="40" height="50" class="menuimage" style="cursor:pointer" value="Settings"/></td><td valign="center" class="menuimage" style="cursor:pointer" value="Settings">Settings</td>
                                        </tr>
                                    </table>
                                  </a>

                                  <a href="#">
                                    <table border=0>
                                        <tr>
                                           <td><img src="{% static "bulkysms/images/recharge5.png" %}" alt="" width="40" height="50" class="menuimage" style="cursor:pointer" value="Settings"/></td><td valign="center" class="menuimage" style="cursor:pointer" value="Recharge Your Account">Account Recharge</td>
                                        </tr>
                                    </table>
                                  </a>
                              </div>